
/* Iphone < 5 */
@media screen and (device-aspect-ratio: 2/3) {
        
}
/*Iphone 5*/
@media screen and (device-aspect-ratio: 40/71) 
{
    
}
/*IPad*/
@media screen and (device-aspect-ratio: 3/4) {}

body  
{
    background-color: #353535; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; 
    font-size: 20px;
}
.propTable
{
    width: 100%;
}
.img 
{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 75vw;
}
.imgWrapper
{
    width: 100%;
    padding-left:auto;
    padding-right:auto;
}
input[type="text"],
textarea {
    width:75%;
    padding: 3px;
    border: none;
    font-size: 34px;
    }
input[type="button"] 
{
    display:block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28pt;
}
input[type="button"] 
{
    width: 200px;
    height: 50px;
    font-size: 28pt;
}
.address 
{
    width: 100%;
    font-size: 28pt;
    color: White;
    text-align: center;
}
.city
{
    width: 100%;
    font-size: 24pt;
    color: White;
    text-align: center;
}
.row 
{
    width:40%;
}
.propData
{
    display: inline;
    width: 50%;
}

.tCell
{
    text-align:right;
    width:50%;
    border-right: medium solid Gray;
    padding-right: 25px;
}
.vCell
{
    width: 50%;
    padding-left:25px;
}
.title
{
    width: 50%;
    font-size: 24pt;
    color: Gray;
    text-align: center;
}
.value
{
    width: 50%;
    font-size: 24pt;
    color: White;
    text-align: center;
}
.propPage 
{
    height: 100vh;
    width: 100%;
}
    
