
/* Iphone < 5 */
@media screen and (device-aspect-ratio: 2/3) {
        
}
/*Iphone 5*/
@media screen and (device-aspect-ratio: 40/71) 
{
    
}
/*IPad*/
@media screen and (device-aspect-ratio: 3/4) {}

body  
{
    background-color:White;
    color:Gray; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; 
    font-size: 20px;
    padding: 0;
    width: 100%;
    margin: 0;
}
select, input[type="button"]
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; 
    font-size: 12pt;
    color: gray;
    border:0;
    -webkit-appearance: none;
    height:30px;
    outline:0px;
}
input[type="text"],
textarea 
{

    display:block;
    width: 90%;
    border: 0;
    margin: 0 auto 50px auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; 
    font-size: 8pt;
    color: gray;
    -webkit-appearance: none;
    height:30px;
    outline:0px;
    box-shadow: 0px 1px 5px #888888;
}
a
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; 
    font-size: 12pt;
    color: gray;
}
h3
{
    display:inline-block;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    text-align: center;
}
.datesList
{
    padding: 0 10px 0 10px;
}
.propList
{
    padding: 0 10px 0 10px;
}
.address
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; 
    font-size: 8pt;
    text-align: center;
    color: Gray;
}
.city
{
    font-weight: bold;
    padding-bottom: 8px;
}
.menuPlaceHolder
{
    width: 100%;
    height: 90px;
}
.menu 
{
    top:0;
    width: 100%;
    height: 30px;
    padding: 0;
    position:fixed;
    background-color:White;
    text-align: center;
    font-size: 34pt;
    color: Gray;
    box-shadow: 0px 1px 5px #888888;
}

.datesList
{
    float: left;
}

.propList
{
    float:right;
}
.column1
{
    width: 49.84375%;
    padding: 8px 0 0 0;
    margin:0;
    float:left;
    border-right: 1px solid gray;
}
.column2
{
    float:left;
    padding: 8px 0 0 0;
    width: 49.84375%;
    margin:0;
}
.column1 dt, .column1 dd, .column2 dt, .column2 dd
{
    text-align: center;
    padding:0 0 0 0;
}
.column1 dt, .column2 dt
{
    font-size: 8pt;
}
.column1 dd, .column2 dd
{
    font-size: 14pt;
    padding:0 0 8px 0;
}
.column1 dd:not(:last-child) 
{
}
.img 
{
    display: block;
    width: 87.2%;
    padding: 8px 6.4% 0 6.4%;
    margin: 0 auto 0 auto;
}

.listButton
{
    padding:0;
    display:block;
    margin: 8px auto 8px auto;
}



    
