body { background-color: #353535; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial; font-size: smaller; }

    .pageWrapper { left: -10px; }
    
    /* Top display panel */
    .displayPanelPlaceholder  { height: 241px; width: 468px; position: fixed; left: 50%; margin-left: -234px; top: 50px; background-image: url(/images/infoPanel/placeHolder.png); z-index: -300;}
    .displayPanel { position:fixed; width: 100%; height: 353px; left: 0px; top: 0px; z-index: 100;
        background: #0c0c0c; /* Old browsers */
        background: -moz-linear-gradient(left,  #0c0c0c 0%, #353535 50%, #353535 50%, #0c0606 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0c0c0c), color-stop(50%,#353535), color-stop(50%,#353535), color-stop(100%,#0c0606)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* IE10+ */
        background: linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#0c0606',GradientType=1 ); /* IE6-9 */ }
    .displayPanelSpacer { position:relative; width: 100%; height: 345px; top: 0px; left: 0px; }
        .mapWrapper { position: relative; float: left; top: 25px; left: 25px; height: 300px; width: 40%; background-color: Gray;}
        .compDisplay { position: relative; float: left; top: 25px;  margin: 0 0 0 50px; width: 30%; height: 300px; background-color: Gray; }
        .subjectInfo { position: relative; float: left; top: 25px; margin: 0 0 0 25px; height: 300px; width: 20%; background-color:Gray;}
    
    /* Menu */
    .menu { position: fixed; height: 36px; width: 100%; background-image: url(/images/menu/background.png); left: 0px; top: 353px; z-index: 100; padding: 0 20px 0 20px; }
    .menuSpacer { position:relative; width: 100%; height: 36px; z-index: 0; }
    .menuLable {  color:#585858; font-size: smaller; }
        .menuTextBox { width: 60px; height: 13px; margin: 0 10px 0 10px;}
        .check { padding: 0 15px 0 0; }
            input[type="checkbox"] { margin: 0 10px 0 10px !important;}
        .button { border: 0px; background-color: transparent; color: White; margin: 8px; font-size:medium; cursor:pointer; }
            
            .button:hover { color: #717171;}
        .dropDown { margin: 8px 5px 0 20px; }
        /*Login Controls*/
        .loginControls { float: right; padding: 0 20px 0 0; }
        
    /* Header */
    .header { position: fixed; height: 24px; width: 100%; background-image: url(/images/menu/background.png); left: 0px; top: 389px; z-index: 100; }
    .headerSpacer { position:relative; width: 100%; height:24px; z-index: 0; }
    .headerSortable {background-color: transparent; border: none; color: #EDEDED; cursor:pointer;}
    
    /* Bottom listings display plane */
    .listings {height: auto; width: 100%; }
    .listPlaceHolder { height: 353px; width: 800px; position: fixed; left: 50%; margin-left: -400px; top: 450px; background-image: url(/images/listingPanel/placeholder.png); z-index: -300; }
    .listingsSpacer {position:fixed; width: 100%; height: 460px; top: 389px; left: 0px; z-index: -400; }
    .listingWrapper { height: 24px; width: 100%; background-color: transparent; cursor:pointer; z-index: 1;}
        .indicatorRed { float:left; height: 24px; width: 25px; background-image: url(/images/indicators/red.png); z-index:inherit; }
        .indicatorGreen { float:left; height: 24px; width: 25px; z-index:inherit; }
        .indicatorSpacer { float:left; height: 24px; width: 25px; z-index:inherit; }
        /*Listing panels including zebra striping*/
        .listingPanel { height: 24px; background-color: #424242;  z-index: 1; }
        .listingWrapper:nth-child(2n) .listingPanel { height: 24px; background-color: #383838; }
        .listingPanel:hover { z-index: 1; background-color: #242424;}
        .listingWrapper:nth-child(2n) .listingPanel:hover { z-index: 1; background-color: #242424;}
        .selectedProperty { z-index: 1; background-color: #242424 !important;}
        
        .propertyData {color: #EDEDED; font-family:Arial; font-size:small; border: none;}
            .notes { float: left; height: 16px; margin: 4px; width: 16px; text-align: center; background-image: url(/images/listingPanel/note.png); }
                .hasNote { background-image: url(/images/listingPanel/hasNote.png); }
            .address { float: left; height: 14; padding: 4px 20px 4px 20px; width: 250px; text-align: right; font-size: smaller; }
            .minBidWrapper { float: left; height: 14; padding: 4px 20px 4px 40px; width: 75px; text-align: left; }
            .sqft { float: left; height: 14; padding: 4px 20px 4px 20px; width: 33px; text-align: left; }
            .beds { float: left; height: 14; padding: 4px 20px 4px 20px; width: 14px; text-align: left; }
            .baths { float: left; height: 14; padding: 4px 20px 4px 20px; width: 20px; text-align: left; }
            .pricePerSqft { float: left; height: 14; padding: 4px 20px 4px 20px; width: 20px; text-align: left; }
            .caseDocs { float:left; height: 16px; margin: 4px 0px 4px 50px; width: 16px; background-image: url(/images/listingPanel/docs.png); background-repeat:no-repeat; }
            .addToReview { float: right; height: 15px; margin: 4px; width: 15px; background-image: url(/images/listingPanel/success.png); background-repeat:no-repeat; }
            .inReviewList { background-image: url(/images/listingPanel/error.png);}

    
    
/* Simple Modal */
#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#FFFFFF; opacity: .5 !important;}

/* Container */
#simplemodal-container {height:380px; width:600px; color:#bbb; background-color:#3D3D3D; padding: 20px 36px 10px 36px; border-radius:8px; opacity:0.95;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container h3 {color:#84b8d9;}

/* Note Text Box */
.note_text_box { width: 594px; height: 280px; color:Black;}
.center_title { text-align:center; display:block; color: #171717; padding-bottom:20px; font-size:x-large;}
#save_note { padding-top: 10px; color: #171717; }
#save_note:hover { color: Black; }


/*Map Box*/
.mapBox { width: 500px; height: 353px; padding: 15px; background-color: #171717; }
.mapZoomIn { width: 25px; height: 25px; padding: 5px; position: fixed; top: 150px; left: 480px; font-size: x-large; font-weight:bold; text-align:center; cursor:pointer; background-color:#b6b6b6; opacity: .75; }
.mapZoomOut { width: 25px; height: 25px; padding: 5px; position: fixed; top: 203px; left: 480px; font-size: x-large; font-weight:bold; text-align:center; cursor:pointer; background-color:#b6b6b6; opacity: .75;}
.mapMode { width: 40px; height: 15px; padding: 5px; position: fixed; top: 25px; left: 450px; font-size:medium; font-weight:bold; text-align:center; cursor:pointer; background-color:#b6b6b6; opacity: .75;}

/*Comp Box*/
.compBox { position: fixed; top:0px; left: 530px; width: 625px; height: 353px; padding: 15px; color: #838383;}
.compBox td { width: 50px; padding-left: 25px; text-align:right;  }
.compBox tr { width: 50px; padding-left: 25px; text-align:right;   }
.compBox th { width: 50px; padding-left: 25px; text-align:right; }
.compBox .tAddress { width: 250px;  font-size: smaller; white-space:nowrap;  }
.compBox .tLastSalePrice { width: 100px; font-size: smaller; }
.compBox .tLastSaleDate { width: 100px; font-size: smaller; }
.compBoxTitle { width: 700px; height: 35px; padding: 15px; font-size:x-large; text-align: center; color: #121212; font-weight:bolder;}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 768px)
{
    .compBox { position: fixed; top:0px; left: 530px; width: 500px; height: 353px; padding: 15px; color: #838383; overflow-x: scroll;}
}