body { background-color: #353535;}

    .pageWrapper { left: -10px; }
    
    /* Top display panel */
    .displayPanelPlaceholder  { height: 241px; width: 468px; position: fixed; left: 50%; margin-left: -234px; top: 50px; background-image: url(/images/infoPanel/placeHolder.png); z-index: -300;}
    .displayPanel { position:fixed; width: 100%; height: 353px; left: 0px; top: 0px; z-index: 100;
        background: #0c0c0c; /* Old browsers */
        background: -moz-linear-gradient(left,  #0c0c0c 0%, #353535 50%, #353535 50%, #0c0606 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0c0c0c), color-stop(50%,#353535), color-stop(50%,#353535), color-stop(100%,#0c0606)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* IE10+ */
        background: linear-gradient(left,  #0c0c0c 0%,#353535 50%,#353535 50%,#0c0606 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#0c0606',GradientType=1 ); /* IE6-9 */ }
    .displayPanelSpacer { position:relative; width: 100%; height: 345px; top: 0px; left: 0px; }
        .mapWrapper { position: relative; float: left; top: 25px; left: 25px; height: 300px; width: 40%; background-color: Gray;}
        .compDisplay { position: relative; float: left; top: 25px;  margin: 0 0 0 50px; width: 30%; height: 300px; background-color: Gray; }
        .subjectInfo { position: relative; float: left; top: 25px; margin: 0 0 0 25px; height: 300px; width: 20%; background-color:Gray;}
    
    /* Menu */
    .menu { position: fixed; height: 36px; width: 100%; background-image: url(/images/menu/background.png); left: 0px; top: 353px; z-index: 100; }
    .menuSpacer { position:relative; width: 100%; height: 36px; z-index: 0; }
    
    /* Header */
    .header { position: fixed; height: 24px; width: 100%; background-image: url(/images/menu/background.png); left: 0px; top: 389px; z-index: 100; }
    .headerSpacer { position:relative; width: 100%; height: 24px; z-index: 0; }
    
    /* Bottom listings display plane */
    .listings {height: auto; width: 100%; }
    .listPlaceHolder { height: 353px; width: 800px; position: fixed; left: 50%; margin-left: -400px; top: 450px; background-image: url(/images/listingPanel/placeholder.png); z-index: -300; }
    .listingsSpacer {position:fixed; width: 100%; height: 460px; top: 389px; left: 0px; z-index: -400;
        background: #0c0c0c; /* Old browsers */
        background: -moz-linear-gradient(left,  #0c0c0c 0%, #353535 18%, #353535 83%, #0c0606 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0c0c0c), color-stop(18%,#353535), color-stop(83%,#353535), color-stop(100%,#0c0606)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #0c0c0c 0%,#353535 18%,#353535 83%,#0c0606 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #0c0c0c 0%,#353535 18%,#353535 83%,#0c0606 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #0c0c0c 0%,#353535 18%,#353535 83%,#0c0606 100%); /* IE10+ */
        background: linear-gradient(left,  #0c0c0c 0%,#353535 18%,#353535 83%,#0c0606 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#0c0606',GradientType=1 ); /* IE6-9 */}
    .listingWrapper { height: 24px; width: 100%; background-color: transparent; cursor:pointer; z-index: 1;}
        .indicator { float:left; height: 24px; width: 25px; background-image: url(/images/indicators/red.png); z-index:inherit; }
        .indicatorSpacer { float:left; height: 24px; width: 25px; z-index:inherit; }
        .listingPanel { height: 24px; background-color: #424242;  z-index: 1; }
        .listingPanel:hover { z-index: 1; background-color: #242424;}
        .listingPanelx { height: 24px; background-color: #383838; }
        .listingPanelx:hover { background-color: #242424;  }
        .propertyData {color: #EDEDED; font-family:Arial; font-size:small;}
            .address { float: left; height: 14; padding: 4px 20px 4px 20px; width: 250px; text-align: right;}
            .minBidWrapper { float: left; height: 14; padding: 4px 20px 4px 40px; width: 75px; text-align: left; }
            .sqft { float: left; height: 14; padding: 4px 20px 4px 20px; width: 33px; text-align: left; }
            .beds { float: left; height: 14; padding: 4px 20px 4px 20px; width: 14px; text-align: left; }
            .baths { float: left; height: 14; padding: 4px 20px 4px 20px; width: 20px; text-align: left; }

    /* Generic ui elements */
    .button { border: 0px; background-color: transparent; color: White; margin: 8px 10px 0 10px; font-size:medium; cursor:pointer; }
    .button:hover { color: #717171;}
    .dropDown { margin: 8px 5px 0 20px; }
    .check { color: White; font-size: small; }
